@media (max-width: 767px) {
  .buttonLog {
    flex-basis: 100%;
    margin: 10px;
  }
}

.buttonLog {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.buttonLog__button {
  background-color: rgb(204, 231, 250);
  margin: 15px;
  padding: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5%;
  -webkit-box-shadow: 9px 16px 42px 0px rgba(122, 167, 181, 1);
  -moz-box-shadow: 9px 16px 42px 0px rgba(122, 167, 181, 1);
  box-shadow: 9px 16px 42px 0px rgba(122, 167, 181, 1);
}
